.products{
  padding: 121px 0;


  .menu-products{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 36px;
    p{
      font-size: 33px;
      font-family: Montserrat,sans-serif;
      font-weight: bold;
    }

    a{
      text-decoration: none;
      color: black;
      font-size: 14px;
      align-self: center;
    }
  }

  .gallery{



    .product-box{
      position: relative;
      width: 25%;
      overflow: hidden;
      background: #4679BD;
    }

    .product-box::before{
      content: ' ';
      padding: 100%;
      display: block;
    }


  }
}